html {
  scroll-behavior: smooth;
  overflow-x: clip;
}

body {
  font-family: "Noto Serif JP", serif;
  color: #272727;
  line-height: 1.5;
  overflow-x: clip;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  cursor: pointer;
}

.section {
  padding: 20px 4.5%;
}